<!DOCTYPE html>
<html><head>
<link href="/static/css/courseworks2.css" media="all" rel="stylesheet">
</head><body>
{% if param.debug %}
<h2>Debug</h2>
<p>{{ param }}</p>
<p id="info">{{ param.url|truncate(5, end='') }}</p>
{% elif param.error %}
<h2>Error</h2>
<p id="info">{{ param.error }}</p>
{% elif param.url %}
    {% if param.https %}
<meta http-equiv="refresh" content="0; url='{{ param.url }}'" id="refreshMeta" />
    {% endif %}
<h2>{{ param.title }}</h2>
<div class="linkbutton">
  <a href="{{ param.url }}" class="link" target="_blank" id="linkA">
    <img src="/static/NewWindow.svg" class="linkbuttonimg" /><br />
    <div class="linkbuttontext">Open in new window</div>
</div>
{% if not param.https %}
<script  type="text/javascript" language="JavaScript" id="openScript">
window.open("{{ param.url }}", "_blank");
</script>
    {% endif %}
{% elif param.info %}
<h2>{{ param.title }}</h2>
<p id="info">{{ param.info }}</p>
{% else %}
<h2>{{ param.title }}</h2>
<p id="info">No course information supplied.</p>
{% endif %}
</body></html>
